#js-error{
	background-color: #ffffff;
	z-index: 5;
	height: 100%;
	width: 100%;
	text-align: center;
	position: fixed;
}

#ie-error{
	background-color: #ffffff;
	z-index: 4;
	height: 100%;
	width: 100%;
	text-align: center;
	position: fixed;
}

.indexContainer{
	width: 350px;
	height: 300px;
}

.launch{
	transition: 0.3s width ease, 0.5s transform ease;
}

#Bg{
	position: fixed;
	opacity: .25;
	width: 100%;
	height: 100%;
	z-index: -3;
}

#BgColor{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -2;
	background: linear-gradient(rgba(255,255,255,0), rgba(247,247,247,1) 50%);
	background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(247,247,247,1) 50%);
	background: -o-linear-gradient(rgba(255,255,255,0), rgba(247,247,247,1) 50%);
	background: -moz-linear-gradient(rgba(255,255,255,0), rgba(247,247,247,1) 50%);
}

.Bg{
	position: absolute;
	opacity: .4;
	width: 100%;
	height: 100%;
	z-index: -3;
}

.BgColor{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -2;
	background: linear-gradient(rgba(255,255,255,0), rgba(247,247,247,1) 80%);
	background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(247,247,247,1) 80%);
	background: -o-linear-gradient(rgba(255,255,255,0), rgba(247,247,247,1) 80%);
	background: -moz-linear-gradient(rgba(255,255,255,0), rgba(247,247,247,1) 80%);
}

#mainContainer{
	padding-left: 7%;
	width: 85%;
	text-align: justify;
	display: inline-block;
	/*
	top: 0;
	left: 0;
	position: absolute;
	*/
}

.index{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 50px;
}

.Video{
	text-align: center;
	margin-bottom: 10px;
}

#Container .fixed.launch.button {
  position: fixed;
  top: 63px;
  left: -1px;
  width: 55px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: 0.3s width ease, 0.5s transform ease;
  -moz-transition: 0.3s width ease, 0.5s transform ease;
  -o-transition: 0.3s width ease, 0.5s transform ease;
  -ms-transition: 0.3s width ease, 0.5s transform ease;
  transition: 0.3s width ease, 0.5s transform ease;
}

#Container .fixed.launch.button:hover {
	width: 130px;
}

#Container .fixed.launch.button .text {
	position: absolute;
	white-space: nowrap;
	top: auto;
	left: 54px;
	opacity: 0;
	-webkit-transition: 0.3s opacity 0.3s;
	-moz-transition: 0.3s opacity 0.3s;
	-o-transition: 0.3s opacity 0.3s;
	-ms-transition: 0.3s opacity 0.3s;
	transition: 0.3s opacity 0.3s;
}

#Container .fixed.launch.button:hover .text {
	opacity: 1;
}

#Container .launch.button .icon {
  margin-left: 0px;
}

#Index .item {
  position: relative;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#Container #Index .inverted.header {
	font-size: 1em;
	font-weight: normal;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 0.5em;
}

#Container #Index .item {
	position: relative;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#mainContainer .Capital{
	margin:0 0 0 0;
	display: inline-block;
}

#Container .ribon{
	z-index: -1;
}

#Container .tablatura{
	z-index: 0;
}

#Container .darkblue{
	background-color: #000050;
	color: #ffffff;
	text-shadow: none;
	background-image: none;
}