.indexContainer{
	width: 350px;
	height: 300px;
}

.launch{
	transition: 0.3s width ease, 0.5s transform ease;
}

#Bg{
	position: absolute;
	opacity: .125;
	width: 100%;
	height: 100%;
	z-index: -2;
}

#BgColor{
	position: absolute;
	/*
	opacity: .125;
	*/
	width: 100%;
	height: 100%;
	z-index: -1;
	background: linear-gradient(rgba(255,255,255,0), rgba(247,247,247,1) 20%);
}

#mainContainer{
	top: 0;
	left: 0;
	padding-left: 10%;
	width: 80%;
	text-align: justify;
	display: inline-block;
	/*
	position: absolute;
	*/
}

#Container .fixed.launch.button {
  position: fixed;
  top: 63px;
  left: -1px;
  width: 55px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: 0.3s width ease, 0.5s transform ease;
  -moz-transition: 0.3s width ease, 0.5s transform ease;
  -o-transition: 0.3s width ease, 0.5s transform ease;
  -ms-transition: 0.3s width ease, 0.5s transform ease;
  transition: 0.3s width ease, 0.5s transform ease;
}

#Container .fixed.launch.button:hover {
	width: 130px;
}

#Container .fixed.launch.button .text {
	position: absolute;
	white-space: nowrap;
	top: auto;
	left: 54px;
	opacity: 0;
	-webkit-transition: 0.3s opacity 0.3s;
	-moz-transition: 0.3s opacity 0.3s;
	-o-transition: 0.3s opacity 0.3s;
	-ms-transition: 0.3s opacity 0.3s;
	transition: 0.3s opacity 0.3s;
}

#Container .fixed.launch.button:hover .text {
	opacity: 1;
}

#Container h3{
	display: inline-block;
}

#Container .launch.button .icon {
  margin-left: 0px;
}

#Index .item {
  position: relative;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#Container #Index .inverted.header {
	font-size: 1em;
	font-weight: normal;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 0.5em;
}

#Container #Index .item {
	position: relative;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#Container .Capital{
	margin:0 0 0 0;
}